include ../../_assets/bemto/bemto
- set_bemto_settings({ modifier: "--" })
include components/menu.pug
include components/icon.pug
include components/breadcrumb.pug
include components/pugination.pug
include components/soc.pug
include components/pic.pug
include components/img.pug
include components/btn.pug

include components/ddgroup.pug

mixin arrow()
	.swiper-button-hand.swiper-button-hand-prev.swiper-button-prev
		+icon('chevron-left')
	.swiper-button-hand.swiper-button-hand-next.swiper-button-next
		+icon('chevron-right')
//- /arrow for swiper-slider


mixin addblock()
	+b.addBlock
		+e.btn--minus(type="button")
		input(type="text" value="1"  inputmode='numeric')
		+e.btn--plus(type="button")

mixin sizeblock(size)
	+b.sizeBlock
		+e.item= size
		+addblock
		+e.item 13 990 ₽

mixin search()
	+b.search-block--main
		form
			input(type="text" placeholder="Поиск..." inputmode='search')
			button 
				+icon("search")

mixin search2()
	+b.search-block--big
		form
			input(type="text" placeholder="Поиск" inputmode='search')
			button 
				+icon("arrow-big")

mixin page-head(t,...items)
	+b.page-head
		- let l = items.length
		.container
			+breadcrumb('Главная',...items)
			//- h1= t

mixin page-head2(t, ...items)
	+b.page-head
		- let l = items.length
		.container
			.back
				a(href='#')
					+icon('arrow-back')
					| Назад
			+breadcrumb('Главная',...items)

mixin parts(elem)
	script.
		addBlock(`#{elem}`)
	div(id=`${elem}Wrap`)

mixin productCard(i, title, havePrice, newP, oldP, btn)
	+b.product-card
		+e.slider--js
			+icon('heart')
			.swiper-wrapper
				.swiper-slide
					+e.img-wrap
						+img(`img/product-${i}.png`)
				.swiper-slide
					+e.img-wrap
						+img(`img/product-${i+1}.png`)
				.swiper-slide
					+e.img-wrap
						+img(`img/product-${i+3}.png`)
			.swiper-pagination
		+e.wrapper.text-center
			+e.item.title= title
			if !havePrice
				+e.item.descr SM 240110
			if !havePrice
				+e.item.colors
					a.span(href='#', style='background-color:#F6F1D9;')
					a.span(href='#', style='background-color:#A3985A;')
					a.span(href='#', style='background-color:#E6BBC1;')
			if havePrice
				+e.item.have-price= newP 
					if oldP
						span #{ oldP}
				+e.item.colors
					a.span(href='#', style='background-color:#F6F1D9;')
					a.span(href='#', style='background-color:#A3985A;')
					a.span(href='#', style='background-color:#E6BBC1;')
			if !havePrice
				+e.item.price Показать цену
			if btn
				+e.btn.btn.btn-primary(href='#')= btn

mixin productCard2(i, title)
	+b.product-card-item(href='#')
		+e.img-wrap
			+img(`img/product-${i}.png`)
		h5= title

mixin profileNav(cl)
	ul.profile-nav(class=cl)
		li: a(href='#') Профиль
		li.current: a(href='#') Личные данные
		li: a(href='#') Мои заказы
		li: a(href='#') Корзина
		li: a(href='#') Вишлист
		li: a(href='#') Выйти

mixin bottomPagination
	+b.cards-pagination.text-center
		+e.text Показано 24 из 1544 товаров
		+pugin()
		+e.A.btn.btn.btn-outline-dark(href='#') Загрузить еще

mixin haveQuestions
	+b.have-questions
		+e.title У ВАС ОСТАЛИСЬ ВОПРОСЫ?
		ul
			li
				a(href="tel:+74955450621")
					+icon('phone')
					| Телефон
			li
				a(href="#")
					+icon('whatsup')
					| WhatsApp

mixin totalPrice(btn)
	+b.total-price
		+e.wrap
			+e.item
				+e.text Скидка на заказ
				+e.dash
				+e.price 5%
			.text-secondary Чтобы получить скидку 10% дополните заказ на 19 990 ₽
		+e.item
			+e.text Стоимость доставки
			+e.dash
			+e.price 0 ₽
		+e.item
			+e.text Итого со скидкой
			+e.dash
			+e.price 132 905 ₽
		+e.btn.btn.btn-primary(href='#')= btn


mixin totalPrice2(btn)
	+b.total-price
		+e.wrap
			+e.item
				+e.text Товаров на сумму
				+e.dash
				+e.price 132 905 ₽
		+e.item
			+e.text Стоимость доставки
			+e.dash
			+e.price 0 ₽
		+e.item
			+e.text Итого со скидкой
			+e.dash
			+e.price 132 905 ₽
		+e.btn.btn.btn-primary(href='#')= btn